<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<phpunit bootstrap="bootstrap.php" colors="true" verbose="true" backupGlobals="false">
    <testsuites>
        <testsuite name="ArangoDB-PHP">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../lib</directory>
        </whitelist>
    </filter>
</phpunit>
